<nav class="navbar bg-primary" >
	<h2 class="navbar-text navbar-left">Tutorial Manager</h2>
	<form class="navbar-form navbar-right" style="margin-right: 10px">
		<button id="signoutButton"class="btn btn-lg btn-primary hidden" 
			style="border-style: solid; border-color: white; border-width: 2px" ng-click="logout()">Signout</button>
	</form>
</nav>