<div class="text-right">
<form class="form-inline">
	<a href="#/editTutorial/new"><button class="btn btn-primary" id="createTutorialButton">Create Tutorial</button></a>
	<span style="padding: 5px"></span>
	<a href="#/editSection/new"><button class="btn btn-primary" id="createSectionButton">Create Section</button></a>
</form>
</div>

<ul class="nav nav-tabs" >
<li ><a href="#/tutorials" id="tutorials" class="unselected" style="cursor: pointer" >Tutorials</a></li>
<li ><a href="#/sections" id="sections" class="unselected" style="cursor: pointer" >Sections</a></li>
</ul>