<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" >
	<form class="form-sigin" id="loginForm">
		<font color="white"><h1 class="form-sigin-heading text-center">Please Sign In </h1></font>
		<div class="form-group">
			<input ng-model="username" class="form-control input-lg" type="text" placeholder="Username" required />
		</div>
		<div class="form-group">
			<input ng-model="password" class="form-control input-lg" type="password" placeholder="Password" required />
		</div>
		<button class="btn btn-primary btn-block btn-lg" ng-click="attemptLogin(username,password)">Log In</button>
	</form>
</div>
