
<div ng-include="'resources/html/loggedInHeader.html'" onload="loaded();""></div>

<br/>

<form class="form-inline hidden" id="searchBar">
	<font color="white"><label>Search: </label></font>
	<input ng-model="searchQuery" type="text"  />
	<button ng-click="search(searchQuery)">Go</button>
	
	<font color="white"><label>Sort By: </label></font>
	<select ng-model="sortChoice" ng-change="editSort()">
		<option value="0" >Title - Ascending </option>
		<option value="1" >Title - Descending </option>
		<option value="2" selected="selected" >Creation Date - Ascending </option>
		<option value="3" >Creation Date - Descending </option>
		<option value="4" >Last Modified - Ascending </option>
		<option value="5" >Last Modified - Descending </option>
	</select>
</form>

<table ng-cloak id="tutorialsTable" class="table table-bordered table-hover hidden" 
style="background-color: cornsilk">
<tbody>
	<tr>
		<th>Tutorial Title</th>
		<th>Description</th>
		<th>Date Created</th>
		<th>Last Modified</th>
		<th>Tags</th>
		<th>Preview Tutorial</th>
		<th>Edit Tutorial</th>
		<th>Permanently Remove</th>
	</tr>
	<tr ng-repeat="tutorial in tutorials | orderBy:sortType:sortOrder " >
		<td>{{tutorial.title}}</td>
		<td>{{tutorial.description}}</td>
		<td>{{tutorial.creationDate | date: 'dd-MMM-yy  hh:mm:ss a'}}</td>
		<td>{{tutorial.lastModifiedDate | date: 'dd-MMM-yy  hh:mm:ss a'}}</td>
		<td>{{tutorial.tags}}</td>
		<td><button ng-click="viewTutorial(tutorial);">View</button></td>
		<td><button ng-click="editTutorial(tutorial);">Edit</button></td>
		<td><button ng-click="deleteTutorial(tutorial);">Delete</button></td>
	</tr>
</tbody>
</table>

<table ng-cloak id="sectionsTable" class="table table-bordered table-hover hidden" 
style="background-color: cornsilk"
>
<tbody>
	<tr>
		<th>Section Title</th>
		<th>Description</th>
		<th>Date Created</th>
		<th>Last Modified</th>
		<th>Tags</th>
		<th>Preview Section</th>
		<th>Edit Section</th>
		<th>Permanently Remove</th>
	</tr>
	<tr ng-repeat="section in sections | orderBy:sortType:sortOrder " >
		<td>{{section.title}}</td>
		<td>{{section.description}}</td>
		<td>{{section.creationDate | date: 'dd-MMM-yy  hh:mm:ss a'}}</td>
		<td>{{section.lastModifiedDate | date: 'dd-MMM-yy  hh:mm:ss a'}}</td>
		<td>{{section.tags}}</td>
		<td><button ng-click="viewSection(section);">View</button></td>
		<td><button ng-click="editSection(section);">Edit</button></td>
		<td><button ng-click="deleteSection(section);">Delete</button></td>
	</tr>
</tbody>
</table>

<div ng-cloak id="editTutorial" class="hidden">
	
	<div  class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" >
	
		<div class="modal fade container" id="addSectionModal" role="dialog" aria-labelledby="myModalLabel">
		  <div style="display: table; height: 100%; width: 100%" >
		  <div class="modal-dialog" role="document" style="display: table-cell; vertical-align: middle">
		    <div class="modal-content">
		      <div class="modal-header" style="background-color: #337ab7; color: white">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add Section</h4>
		      </div>
		      <div class="modal-body">
		      		<form class="form-inline" id="searchBar">
						<font color="black"><label>Search: </label></font>
						<input ng-model="searchQuery" type="text"  />
						<button ng-click="search(searchQuery)">Go</button>
						
						<font color="black"><label>Sort By: </label></font>
						<select ng-model="sortChoice" ng-change="editSort()">
							<option value=0 >Title - Ascending </option>
							<option value=1 >Title - Descending </option>
							<option value=2 selected="selected" >Creation Date - Ascending </option>
							<option value=3 >Creation Date - Descending </option>
							<option value=4 >Last Modified - Ascending </option>
							<option value=5 >Last Modified - Descending </option>
						</select>
					</form>
		      		<table class="table table-bordered table-hover"><tbody>
					<tr style="background: #337ab7; color: white">	
						<th>Section Title</th>
						<th>Description</th>
						<th>Date Created</th>
						<th>Last Modified</th>
						<th>Tags</th>
						<th>Add</th>
					</tr>
					<tr ng-repeat="section in allSections | orderBy:sortType:sortOrder " >
						<td>{{section.title}}</td>
						<td>{{section.description}}</td>
						<td>{{section.creationDate | date: 'dd-MMM-yy  hh:mm:ss a'}}</td>
						<td>{{section.lastModifiedDate | date: 'dd-MMM-yy  hh:mm:ss a'}}</td>
						<td>{{section.tags}}</td>
						<td><input type="checkbox"  ng-model="add[section.id]" /></td>
					</tr>		      			
		      		</tbody></table>
		      </div>
		      <div class="modal-footer" >
		      	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addSections()">Add Section(s)</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		  </div>
		</div>
	
	<form>
		<div class="form-group">
			<input ng-model="title" class="form-control input-lg" type="text" placeholder="Title" />
		</div>
		<div class="form-group">
			<textarea class="form-control" rows=4 cols="50" ng-model="description" placeholder="Description"></textarea>
		</div>
		<div class="form-group">
			<input ng-model="tags" class="form-control input-lg" type="text" placeholder="Tags"  />
		</div>
		<div class="form-group">
			<div class="col-md-6" >
			<input ng-model="bucket" class="form-control input-lg" type="text" placeholder="S3 Bucket" />
			</div><div class="col-md-6">
			<input ng-model="fileKey" class="form-control input-lg" type="text" placeholder="S3 File Key" />
			</div>
		</div><br/>
		<div class="form-group">
			<div class="col-md-10">
			<font color="white" ><label for="selectedSections">Sections:</label></font>
			<select id="selectedSections" size="5" class="form-control input-lg">
				<option ng-repeat='section in sections' value="{{section.id}}">{{section.title}}</option>	
			</select>
			</div>
			<div class="col-md-2">
				<button data-toggle="modal" data-target="#addSectionModal" ng-click="selectSection()">Add</button>
				<button ng-click="removeSection()">Remove</button>
				<button ng-click="moveUp();" ><span class="glyphicon glyphicon-arrow-up"></span></button>
				<button ng-click="moveDown();" ><span class="glyphicon glyphicon-arrow-down"></span></button>
			</div>
		</div>
		
		
		<button ng-click="createTutorial()" class="btn btn-primary btn-block btn-lg" >Save Tutorial</button>
	</form>
	</div>
</div>

<div ng-cloak id="editSection" class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 hidden" >
	<form>
		
		<div class="form-group">
			<input ng-model="title" class="form-control input-lg" type="text" placeholder="Title" required />
		</div>
		<div class="form-group">
			<textarea class="form-control" rows=4 cols="50" ng-model="description" placeholder="Description"></textarea>
		</div>
		<div class="form-group">
			<input ng-model="tags" class="form-control input-lg" type="text" placeholder="Tags"  />
		</div>
		<div class="form-group">
			<div class="col-md-6" >
			<input ng-model="bucket" class="form-control input-lg" type="text" placeholder="S3 Bucket" />
			</div><div class="col-md-6">
			<input ng-model="fileKey" class="form-control input-lg" type="text" placeholder="S3 File Key" />
			</div>
		</div>
		<button ng-click="createSection()" class="btn btn-primary btn-block btn-lg" >Save Section</button>
	</form>
</div>

<div ng-cloak id="preview" class="hidden" >
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked " >
			<li class="unselected" ng-repeat="section in sections" style="padding-top: 5px"><a ng-click="getSectionView2(section)" style="cursor: pointer"><font color="white">{{section.title}}</font></a></li>
		</ul>
	</div>
	<div  style="background-color: white" class="col-md-10" >
		<div id="mainPreviewContent" ></div>
	</div>
</div>